@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

/* header */
.header {
    width: 100%;
    height: 200px;
    background-color: #000;
}
.fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top {
    width: 1200px;
    height: 140px;
    margin: 0 auto;
    padding-top: 26px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}

.top>h1 {
    width: 344px;
    height: 88px;
    margin: 0 auto;
}

.top>h1>a {
    display: block;
    width: 100%;
    height: 100%;
}

.top ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.top ul li {
    border: 0.5px solid #f08818;
    float: left;
    margin-right: 6px;
}
.top ul li:last-child{
    margin: 0;
}
.top ul li a{
    display: block; width: 100%; height: 100%;
    font-size: 12px; color: #fff; padding: 6px;
}
.top ul li:hover{
    background-color: #f08818;
}

/* header-nav */
.nav{
    width: 1200px; height: 40px;
    margin: 0 auto; padding: 0 20px; box-sizing: border-box;
}
.nav ul{
    width: 100%; height: 100%;
}
.nav ul li{
    height: 100%; float: left; margin-right: 264.11px; position: relative;
}
.nav ul li:last-child{
    margin: 0;
}
.nav ul li a{
    display: block; width: 100%; height: 100%; color: #fff; font-size: 18px;
    line-height: 40px;
}
.nav ul li::after{
    content: 'â—';
    font-size: 10px;
    color: #f08818;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
@keyframes nav{
    from{
        opacity: 0;
        top: 10px;
    }
    to{
        opacity: 1;
        top: -5px;
    }
}
.nav ul li :hover{
    color: #f08818;
}
.nav ul li:hover::after{
    opacity: 1;
    animation: nav 0.2s ease-in forwards;}

    /* menu-wrap */
    .menu-wrap{
        width: 100%; background-color: #fcf9e7;
    }
    .menu-wrap::after{
        content: "";
        display: block;
        clear: both;
    }
    .menu{
        width: 1200px; height: 100%;
        margin: 0 auto; box-sizing: border-box;
        padding-top: 50px;
    }
    .menu > h1{
        font-size: 60px; color: #f08818; font-weight: bold; margin-bottom: 50px;
    }

    .menu-list{
        overflow: hidden;
        margin-bottom: 50px;
    }
    .menu-list>li{
        float: left; margin-right: 40px;
        padding-bottom: 4px;
    }
    .menu-list>li>a{
        font-size: 22px; color: rgba(252, 143, 26, 0.4); font-weight: bold;
    }
    .active{
        border-bottom: 2px solid #f08818;
    }

    .menu-list>li.active a{
        color: #f08818;
    }
    /* menus */
    .menus::after{
        content: "";
        clear: both;
        display: block;
    }
    .menus>li{
        width: 200px; height: 210px; margin-right: 50px;  margin-bottom: 60px;
        float: left;
        position: relative;
        z-index: 100;
    }
    .menus>li>a::after{
        content: "";
        display: block;
        width: 170px; height: 170px;
        border-radius: 85px;
        background-color: #fef1a9;
        position: absolute;
        top: -5px; left: 50%; margin-left: -85px;
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
    }
    .menus>li>a:hover::after{
        opacity: 1;
    }
    .menus>li>a{
        display: block;
        width: 100%; height: 100%;
    }
    .menus>li>a>img{
        margin-bottom: 20px;
    }
    .menus>li>a>h6{
        height: 34px; box-sizing: border-box; padding-top: 14px;
        font-size: 20px; color: #412715; text-align: center;
        position: relative;
    }
    .menus>li>a>h6::after{
        content: "";
        display: block;
        width: 198.4px; height: 1.4px;
        border: 0.5px solid #412715;
        position: absolute;
        top: 0;
        opacity: 0.5;
    }
    .menus>li:nth-of-type(5), .menus>li:nth-of-type(10),
    .menus>li:nth-of-type(15), .menus>li:nth-of-type(20){
        margin: 0;
    }

    /* footer */
.footer-wrap{
    width: 100%; height: 300px; background-color: #000;
    scroll-snap-align: end;
}
.footer{
    width: 1200px; height: 100%; margin: 0 auto; box-sizing: border-box;
    padding-top: 40px;
}
.footer>div{
    float: left;
}
.footer>.f-menu{
    float: right;
}
.f-left h1{
    width: 344px;
    height: 88px;
    margin-bottom: 40px;
}
.f-left h1 a{
    display: block; width: 100%; height: 100%;
}
.f-left p{
    font-size: 14px; color: #e1e1e1; line-height: 2;
}

.f-menu>ul::after{
    display: block;
    content: "";
    clear: both;
}
.f-menu > ul >li{
    width: 160px; height: 20px;
    float: left;
    position: relative;
}
.f-main{
    font-size: 16px; color: #e1e1e1;
    font-weight: bold;
    line-height: 20px;
}
.f-sub{
    width: 160px;
    position: absolute; left: 0; top: 40px;
}
.f-sub > li{
    width: 100%; height: 20px;
    margin-bottom: 5px;
}
.f-sub > li >a{
    font-size: 13px; color: #e1e1e1;
    line-height: 20px;
}